body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
}

#conteudo_principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


#texto {
    flex: 1;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 15%;
    margin-left: 10%;
    color: white;
    font-size: 25px;
}

#foto_perfil {
    flex: 1;
}

#foto_perfil img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; 
    margin-top: 30px;
    margin-right: 25%;
    border-radius: 100%;
    border: 15px groove #333;

}



.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a4b3a8;
    color: #ffffff;
    text-decoration: none;
    border-radius: 24px;
}

.button-link:hover {
    background-color: #66D9EF;
}


@media only screen and (max-width: 1024px) {
    body {
        margin-top: 25px;
    }

    #conteudo_principal {
        flex-direction: column;
        align-items: center; 
        text-align: center;
    }

    #foto_perfil {
        margin-top: 20px;
    }

    #foto_perfil img {
        display: block;
        margin: 0 auto; 
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        border: 15px groove #333;
    }
}

